body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
    color: #fff;
 }

header {
    display: flex;
    justify-content: space-around;
    height: 5vw;
    background-color: #001427;
    align-items: center;
    position: sticky;
    top: 0;
}

.link {
    padding-left: 20px;
}

nav {
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #0cd15b;
}

.main-section {
    width: 40vh;
    display: flex;
    justify-content: space-around;
}

.menuleft {
    margin-left: 10vh;
}

.menuright {
    display: flex;
    align-items: baseline;
}

.menuright span {
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;

}

.menuright h1 {
    font-family: 'Pacifico', cursive;
    color: #0cd15b;
    direction: ltr;
}

.srvc {
    padding: 3px 6px;
    background-color: #0cd15b;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 600;
}

.srvc:hover {
    background-color: #001427;
    color: #0cd15b;
}

.cntct {
    padding: 8px 0px 0px 0px;
}

.cntct i {
    background-color: #06213a;
    color: #0cd15b;
    padding: 10px;
    border-radius: 100px;
    margin-left: 5px;
}

.cntct i:hover {
    background-color: #0cd15b;
    color: #001427;

}

.cntct-list {
    justify-content: right;
}

.abt {
    width: 30vh;
}


.rightsection {
    width: 40vh;
}

.abt-left img {
    width: 300px;
    border-radius: 30px;
}

div #righttt {
    width: 40vh;
    float: right;
}

#lefttt {
    width: 30vh;
    display: flex;
    justify-content: flex-end;
}

#lefttt img {
    width: 80vh;
    border-radius: 20px;
}

div#bigsection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #001427;
}



.projects {
    color: #001427;
    display: flex;
    background-color: #0cd15b;
    justify-content: flex-end
}

.projects h2 {
    font-weight: 700;
    font-size: 30px;
 
}

.projects h4 {
    font-weight: 600;
    margin-top: -19px;
 
}

.projects {
padding: 5vh 50vh;
}


.project img {
    width: 400px;
    border-radius: 20px;
}

.project-info {
    padding-right: 40px;
}

.project-info p {
    width: 70vh;
}

.project-info h4 {
    background-color: #0db651;
    color: #0cd15b;
    width: fit-content;
    padding: 3px 8px;
    border-radius: 10px;
}

button {
    background-color: #001427;
    padding: 15px 30px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    font-size: 14px; 
    letter-spacing: 2px;
}

button:hover {
background-color: #06213a;
color: rgb(131, 255, 127);
}


.project img:hover {
    opacity: 90%;
}

.titles {
    background-color: #0cd15b;
    margin: 0px;
}


footer {
    height: 20vw;
}


fieldset {
    border:hidden;
    color: #c5c5c5;
    font-family: 'Assistant', sans-serif;
}

input {
    display: flex;
    padding: 5px 0px 5px 50px ;
    border-width: 0 0 2px 0;
    border-color: #0cd15b;
    font-family: 'Assistant', sans-serif;
    width: 350px;
}

input:focus {
background-color: #daffe9;;
}



textarea {
    display: flex;
    padding: 5px 0px 5px 50px ;
    border-width: 0 0 2px 0;
    border-color: #0cd15b;
    font-family: 'Assistant', sans-serif;
    width: 350px;
}

fieldset .fas {
    color: aquamarine;
    font-size: 10px;
    background-color: #fff;
    padding-left: 0;
}

.cntct-title h2 {
    font-family: 'Pacifico', cursive;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 50px; 

}

.cntctform {
    justify-content: space-around;
    display: flex;
}

.copyw {
    height: 10vh;
    background-color: #001427;
    color: #0cd15b;
    align-items: center;
    justify-content: space-around;
    display: flex;
    letter-spacing: 3px;
    font-size: 11px;
}

#spc {
    height: 50px;
}

